In [10]:
import pandas as pd
import csv

In [14]:
electiondata_df = "Resources/election_data.csv"
electiondata_df = pd.read_csv(electiondata_df)
electiondata_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [15]:
electiondata_df = electiondata_df["Candidate"].unique()
electiondata_df

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)