In [1]:
import pandas as pd
import csv

In [2]:
budgetdata_df = "Resources/budget_data.csv"
budgetdata_df= pd.read_csv(budgetdata_df)
budgetdata_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
total_months_test = budgetdata_df["Date"].sum()
total_months_test

'Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-2010Jul-2010Aug-2010Sep-2010Oct-2010Nov-2010Dec-2010Jan-2011Feb-2011Mar-2011Apr-2011May-2011Jun-2011Jul-2011Aug-2011Sep-2011Oct-2011Nov-2011Dec-2011Jan-2012Feb-2012Mar-2012Apr-2012May-2012Jun-2012Jul-2012Aug-2012Sep-2012Oct-2012Nov-2012Dec-2012Jan-2013Feb-2013Mar-2013Apr-2013May-2013Jun-2013Jul-2013Aug-2013Sep-2013Oct-2013Nov-2013Dec-2013Jan-2014Feb-2014Mar-2014Apr-2014May-2014Jun-2014Jul-2014Aug-2014Sep-2014Oct-2014Nov-2014Dec-2014Jan-2015Feb-2015Mar-2015Apr-2015May-2015Jun-2015Jul-2015Aug-2015Sep-2015Oct-2015Nov-2015Dec-2015Jan-2016Feb-2016Mar-2016Apr-2016May-2016Jun-2016Jul-2016Aug-2016Sep-2016Oct-2016Nov-2016Dec-2016Jan-2017Feb-2017'

In [4]:
budgetdata_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [5]:
total_months = budgetdata_df["Date"].count()
total_months

86

In [6]:
profit_lossesdf = budgetdata_df["Profit/Losses"].describe()
profit_lossesdf

count    8.600000e+01
mean     4.463090e+05
std      5.363579e+05
min     -1.196225e+06
25%      1.821620e+05
50%      5.703280e+05
75%      7.952262e+05
max      1.170593e+06
Name: Profit/Losses, dtype: float64

In [7]:
profit_lossesdf = profit_lossesdf.map("${:.2f}".format)
profit_lossesdf

count          $86.00
mean       $446309.05
std        $536357.95
min      $-1196225.00
25%        $182162.00
50%        $570328.00
75%        $795226.25
max       $1170593.00
Name: Profit/Losses, dtype: object

In [8]:
total = budgetdata_df["Profit/Losses"].sum()
total

38382578

In [9]:
average = budgetdata_df["Profit/Losses"].mean()
average

446309.0465116279

In [10]:
greatest_increase = budgetdata_df["Profit/Losses"].max()
greatest_increase

1170593

In [11]:
greatest_decrease =  budgetdata_df["Profit/Losses"].min()
greatest_decrease

-1196225

In [12]:
print("Financial Analysis")
print("------------------")
print("Total Months: 86")
print("Total: $38,382,578")
print("Average: $446,309.05")
print("Greatest Increase in Profits: $1,170,593")
print("Greatest Decrease in Profits: $1,196,225")

Financial Analysis
------------------
Total Months: 86
Total: $38,382,578
Average: $446,309.05
Greatest Increase in Profits: $1,170,593
Greatest Decrease in Profits: $1,196,225

In [13]:
# So I didn't calculate the 'Average Change', I couldn't find the code to do so. I'm sure I just overlooked it, but I couldn't remember if we'd gone over that or not. 
# I also couldn't figure out how to incorporate the numbers I found through the 
# functions into the print out I made at the bottom, so I just typed it out.
# I am sure this is not ideal in real life. I did everything with Pandas because it
# made more sense to me. Ethan stated this was okay.